/* ============== GENERAL =========== */

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

/* ============== HEADER =========== */

header {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 10;
}

header img {
  height: 45px;
}

header .container {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-buttons {
  display: flex;
  gap: 20px;
}

header .right-buttons button {
  padding: 7px 25px;
  border: 1px solid #2cb1ba;
  background-color: white;
  color: #2cb1ba;
  border-radius: 5px;
}

header button.sell,
.buy-offer,
.signup,
button.begin-to-sell,
button.publish-offer,
.payment-button {
  padding: 7px 25px;
  border: 1px solid #2cb1ba;
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
}

header .right-buttons button:hover {
  border: 1px solid #2cb1ba;
  background-color: #2cb1ba;
  color: white;
  transition-duration: 0.4s;
}

button.begin-to-sell:hover,
header button.sell:hover,
.buy-offer:hover,
button.publish-offer:hover {
  border: 1px solid #2cb1ba;
  background-color: white;
  color: #2cb1ba;
  transition-duration: 0.4s;
}

header input {
  border: none;

  background-color: #f5f6f7;
  height: 37px;
  width: 590px;
  padding: 5px 25px;
  border-radius: 5px;
}

.deconnect {
  border: solid 1px #c2175b;
  border-radius: 5px;
  color: white;
  padding: 7px 20px;
  background-color: #c2175b;
}

.deconnect:hover {
  background-color: white;
  color: #c2175b;
  transition-duration: 0.4s;
}

/* =========== MAIN =========== */

.heroimg {
  height: 455px;
}

main .heroimg img {
  width: 100%;
  height: 455px;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.notice-sell {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  line-height: 39px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  box-shadow: 0 0 2px hsla(0, 0%, 7%, 0.24);
  background-color: white;
  position: relative;
  top: 75px;
  display: flex;
  font-size: 34px;
  height: 270px;
  width: 400px;
  justify-content: center;
  padding: 25px;
  border-radius: 3px;
  z-index: 3;
  margin-left: 200px;
}

.notice-sell button.begin-to-sell {
  width: 185px;
  padding: 14px;
  font-size: 15px;
}

.top-offer .userimg {
  border-radius: 50%;
  height: 30px;
  object-fit: cover;
  width: 30px;
}

.top-offer p {
  font-size: 13px;
  font-weight: 300;
}

.home-offers {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  width: 100%;
  gap: 13px;
}

.one-offer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 235px;
  display: flex;
  padding: 0 6px 20px;
  /* border: #c2175b solid 1px; */
}

.one-offer:hover {
  opacity: 80%;
  transition-duration: 0.2s;
}

/* main img {
  height: 360px;
  width: 235px;
  object-fit: cover;
} */

.product-details {
  flex-direction: column;
  display: flex;
  padding: 13px 5px;
  gap: 5px;
}

.product-details > p:not(:first-child) {
  font-size: 13px;
  line-height: 10px;
  color: #999999;
  font-weight: 300;
}

.product-details > p:first-child {
  font-weight: 300;
  font-size: 14px;
}

.top-offer {
  display: flex;
  gap: 10px;
  color: #999999;
  font-size: 14px;
  font-weight: 200;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 10px;
}

.one-offer img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

/* ====== OFFER ========= */

.offer-content {
  display: flex;
  justify-content: space-around;
}

.selected-offer {
  background-color: #ebedee;
  font-family: "Inter", sans-serif;
  padding: 100px;
  height: calc(100vh - 68px);
}

.offer-infos {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  padding: 40px;
}

.offer-infos .price {
  font-size: 24px;
  margin-bottom: 20px;
}

.offer-general {
  display: flex;
  flex-direction: column;
}

.offer-general p {
  display: flex;
  font-size: 14px;
  line-height: 25px;
}

.offer-general p > span:first-child {
  color: #999999;
  font-weight: 200;
}

.offer-general p > span:last-child {
  color: #666666;
  font-weight: 600;
}

.offer-general span {
  flex: 1;
}

.offer-description p {
  font-size: 16px;
  margin-bottom: 25px;
}

.selected-offer .offer-img img {
  height: 600px;
  width: 454px;
  object-fit: cover;
}

.user-info {
  display: flex;
  gap: 10px;
}

.user-info img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.divider {
  color: #999999;
}

.offer-description p:first-child {
  font-weight: 600;
}

.offer-description p:nth-child(2) {
  color: #666666;
  font-weight: 300;
}

.user-info {
  margin-top: 30px;
}

.offer-description .user-info p {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.offer-description .user-info {
  display: flex;
  align-items: center;
}

.buy-offer {
  width: 100%;
  padding: 8px;
  font-size: 15px;
  font-weight: 200;
}

/* ======= SIGNUP =========== */

.sign-up h2 {
  font-size: 24px;
  font-weight: 300;
}

.sign-up {
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 275px;
}

.sign-up > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #666666;
}

.newsletter-checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.newsletter-checkbox > input {
  transform: scale(2);
}

p.conditions {
  font-size: 12px;
  color: #999999;
  text-align: center;
  line-height: 15px;
}

div.button-signup {
  width: 100%;
}

button.signup {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
}

button.signup:hover {
  border: 1px solid #2cb1ba;
  background-color: white;
  color: #2cb1ba;
  transition-duration: 0.4s;
}

.to-login,
.to-signup {
  color: #2cb1ba;
  font-size: 12px;
  display: flex;
  justify-content: center;
}

/* ======== LOGIN ========= */

.login {
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 275px;
}

.login h2 {
  font-size: 24px;
  font-weight: 300;
}

.login > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
}

button.login {
  width: 100%;
  padding: 12px;
  font-size: 15px;
  margin-bottom: 20px;
}

.button-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button-login button {
  border: 1px solid #2cb1ba;
  background-color: #2cb1ba;
  color: white;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
}

.button-login button:hover {
  border: 1px solid #2cb1ba;
  background-color: white;
  color: #2cb1ba;
  transition-duration: 0.4s;
}

.errormessage {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

/* ============= COMPONENTS =============== */

.range,
.switch {
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.range {
  flex: 2;
}

.range p:first-child,
.switch p:first-child {
  margin-right: 10px;
  font-size: 13px;
}

.range p:not(:first-child) {
  font-size: 13px;
  background-color: #2cb1ba;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin: 10px;
  font-weight: 200;
}

.switch {
  display: flex;
  align-items: center;
}

.filters {
  display: flex;
  gap: 30px;
}

/* ========= PUBLISH =========== */

.file-upload {
  display: flex;
  gap: 20px;
}

.file-upload input {
  display: none;
}

.file-upload label {
  padding: 20px;
  border: #2cb1ba 2px solid;
  border-radius: 5px;
  color: #2cb1ba;
  cursor: pointer;
}

.file-upload label:hover {
  background-color: #2cb1ba;
  color: white;
  transition-duration: 0.2s;
}

.publish-offer h2 {
  padding: 40px 0 20px 0;
  font-size: 24px;
  font-weight: 300;
}

.background {
  background-color: #ebedee;
}

.publish-offer {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.form-offers {
  display: flex;
  flex-direction: column;
  width: 1280px;
}

.form-offers > div:not(:last-child) {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 20px 0;
  box-shadow: 0 0 2px gray;
}

.form-offers > div > div:not(:last-child) {
  border-bottom: 1px solid #ebedee;
}

.form-offers > div > div:not(.checkbox) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 24px;
}

.form-offers input:not(.checkbox input) {
  border: none;
  border-bottom: 1px solid #ebedee;
  font-size: 16px;
  font-weight: 200;
  width: 50%;
}

.form-offers textarea {
  border: none;
  border-bottom: 1px solid #ebedee;
  font-size: 16px;
  font-weight: 200;
  width: 50%;
}

.file-upload {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.file-upload input {
  border: 1px solid #0ab1ba;
  color: #0ab1ba;
}

div.checkbox {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  align-items: center;
  gap: 20px;
}

.div-publish-offer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

button.publish-offer {
  width: 140px;
  padding: 14px;
  font-size: 15px;
}

.publish-offer label,
.publish-offer p {
  font-weight: 300;
}

/* ========= PAGINATION ============= */

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 5px 25px;
  border: 1px solid #2cb1ba;
  background-color: white;
  color: #2cb1ba;
  border-radius: 5px;
  margin: 12px;
  box-shadow: 0 0 1px gray;
}

button.current-page {
  background-color: #2cb1ba;
  color: white;
}

.pagination button:hover {
  border: 1px solid #2cb1ba;
  background-color: #2cb1ba;
  color: white;
  transition-duration: 0.4s;
}

/* =========== PAYMENT ============= */

.payment-page {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: #ebedee;
  padding-top: 20px;
  height: calc(100vh - 68px);
}

.payment-page h2 {
  padding: 20px 0;
  font-weight: 500;
}

.payment-page span {
  font-weight: 500;
}

.payment-page ul {
  color: #666666;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea;
}

.payment-page li {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.payment-page .price {
  font-weight: 500;
}

.payment-box {
  background-color: white;
  width: 600px;
  padding: 36px 20px;
}

.payment-page .price {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.payment-page .content {
  border-bottom: 1px solid #eaeaea;
}

.payment-page .content p,
.checkout-form p {
  padding-bottom: 40px;
  line-height: 20px;
}

.checkout-form p {
  padding: 20px;
  text-align: center;
}

.checkout-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.payment-button {
  margin-top: 40px;
  padding: 15px;
  font-size: 16px;
  font-weight: 200;
}

.payment-button:hover {
  border: 1px solid #2cb1ba;
  background-color: white;
  color: #2cb1ba;
  transition-duration: 0.4s;
}
